<?xml version="1.0"?>
<robot name="a1" xmlns:xacro="http://tixiaoshan.github.io/">
  <xacro:property name="PI" value="3.1415926535897931" />

  <link name="base_link"></link>

  <!-- base_link to imu_link -->
  <link name="imu_link"> </link>
  <joint name="imu_joint" type="fixed">
    <parent link="base_link" />
    <child link="imu_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <!-- base_link to base_footprint -->
  <link name="base_footprint"> </link>
  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_link" />
    <child link="base_footprint" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <!-- base_link to lidar  -->
  <link name="os_sensor"> </link>
  <joint name="os_joint" type="fixed">
    <parent link="base_link" />
    <child link="os_sensor" />
    <origin xyz="0.08 0 0.0" rpy="0 0 0" />
  </joint>

  <!-- tf of base_link to gps -->
  <!-- <link name="navsat_link"> </link>
  <joint name="navsat_joint" type="fixed">
    <parent link="base_link" />
    <child link="navsat_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint> -->

</robot>